p{
    color: green;
}

/* 

p -> tanloovchi (selector)
color ->xossa  (property)
green -> qiymat (value)

*/

/*  selector turlari

Element (tag)
Class 
Id
Attribute
Unversal

*/

.kurs{
  color: pink;
}
#panja{
    color: red;
}
[atribut]{
    color:black;
}

*{
    color: red;
}