body{
    background-color: black;
}
.container{
    width: 90%;
    margin: 10px auto
}
.header{
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 70px;
    letter-spacing: 5px;
    color: white;
}
.header span{
    text-transform: uppercase;
    color: #00D859;
}
.image{
   float: right ;
}
.image img{
    width: 200px;
    margin-top: 130px;
}